:root {
    --primary-color: #10bc69;
    --link-color: #5F687b;

}

.primary-color {
    color: var(--primary-color);
}

body {
    font-family: "Raleway", sans-serif;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5 {
    color: var(--link-color);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--link-color);
}

a,
li {
    display: inline-block;
}

header {
    position: sticky;
    top: 0;
    z-index: 2222;
    background-color: white;
}

.main-fix-btn {
    position: fixed;
    bottom: 20px;
    right: 10px;
    transition: all 0.5s ease;
}

.fix-btn:hover i {
    background-color: #3fe092;
}

.fix-btn {
    border: 0;
    cursor: pointer;
    z-index: 121212;

    font-size: 25px;

    i {
        background-color: var(--primary-color);
        color: white;
        padding: 10px;
        border-radius: 100%;


    }
}

.navbar-brand {
    color: var(--link-color);
}

.nav-link:hover {
    color: var(--primary-color) !important;
}
.dropdown-menu .dropdown-item:hover{
     color: var(--primary-color) !important;
}

.navbar-btn {
    font-size: 14px;
    font-weight: 600;
}

.d-flex li {
    padding: 15px;
}

.d-flex li a {
    color: var(--link-color);
}

.d-flex li a:hover {
    color: var(--primary-color);
}

.btn {
    color: white !important;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

li .btn {
    text-align: center;
    background-color: var(--primary-color);
    border: var(--primary-color);
}

.heading a {
    color: #5F687b;
    font-weight: 600;
}

.d-flex {
    align-items: center !important;
}

nav .row {
    align-items: center;
}

#hero-section h1 {
    font-size: 48px;
    color: var(--link-color);
}

#hero-section p {
    font-size: 20px;
    color: var(--link-color);
}

.animation {
    animation: up-down 1.5s ease-in-out infinite alternate-reverse both;
}

.text-center {
    text-align: center !important;
}

.btn-width {
    width: 110px;
}

.play-icon {
    color: var(--primary-color);
}

#info .info-divs-backgraound {
    background-color: #f1f1f1;
}

.info-divs-backgraound i {
    color: var(--primary-color);
}

.info-divs-backgraound h5,
p {
    color: var(--link-color);

}

.info-divs {
    transition: all 0.5s ease-in-out;
}

.info-divs:hover {
    transform: translateY(-20px);
}

#about-us {
    margin-top: 150px;
}

.about-us-shadow {
    position: absolute;
    font-size: 40px;
    font-weight: 700;
    opacity: 0.2;
    margin-top: -33px;
    margin-left: -100px;


}

#about-us .play-link {
    text-decoration: none;


}

#about-us .aboutus-play-button {
    top: 190px;
    left: 260px;
    /* background-color: #10bc69; */

}

.aboutus-play-button .play-icon {
    color: #f1f1f1;
    background-color: #10bc69;
    border-radius: 100%;

}
#stats p{
    color: #9b9b9b !important;
font-style: none !important;
font-weight: 600 !important;
}
#services {
    background-color: #f7f7f7;
    padding-top: 60px !important;
}

.services-shadow {
    position: absolute;
    font-size: 40px;
    font-weight: 700;
    opacity: 0.15;
    margin-top: -33px;
    margin-left: -100px;
}

.icon {
    background-color: var(--primary-color);

    border-radius: 10px;
    width: 60px;
    text-align: center;
    color: white;
    margin: 0 auto;
}

.card-body p {
    font-size: 14px;
    color: black !important;
    line-height: 22px;
}

.card-body h4 {
    color: var(--link-color);
}

.card {
    border: 1px solid rgb(180, 180, 180) !important;
    padding-top: 80px !important;
    padding-bottom: 50px !important;
    border-radius: 0 !important;
    transition: all 0.7s ease;
}

.card:hover {
    border: 1px solid var(--primary-color) !important;

    h4 {
        color: var(--primary-color);
    }


}

#portfolio {
    padding-top: 50px !important;
}

.portfolio-shadow {
    position: absolute;
    font-size: 45px;
    font-weight: 700;
    opacity: 0.2;
    margin-top: -37px;
    margin-left: -120px;

}

.portfolio-links ul li {
    font-size: 18px;
    font-weight: 600;
    padding: 10px;
}

.portfolio-links a:hover {
    color: var(--primary-color);

}

#Apps,
#Books,
#Branding,
#Product {
    cursor: pointer;
}

.apps-abolute {
    position: absolute;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.753);
    bottom: -20px;
    left: 10px;
    opacity: 0;
    transition: all .5s ease;
    animation-name: apps-absolute;
}

.apps-relative:hover .apps-abolute {
    opacity: 1;
    transform: translateY(-20px);
    margin-bottom: 5px;
}

#testimonial {
    background-color: #fafafa;
    margin-top: 50px;
    padding: 30px;
    padding-bottom: 150px;
}

.testimonial-shadow {
    position: absolute;
    font-size: 45px;
    font-weight: 700;
    opacity: 0.2;
    margin-top: -40px;
    margin-left: -150px;
}

.testimonial-icons {
    font-size: 25px;
    color: var(--primary-color);
}

#testimonial img {
    border: 4px solid white;
}

.testimonial-profile-info h5 {
    margin-top: 10px;
    margin-bottom: -3px;
}

#call-to-action {
    gap: 50px;
    text-align: center;
    padding: 80px;
    background-color: var(--primary-color);
    color: white !important;
}

.call-to-action {
    color: white;
}

#call-to-action p {
    color: white;
}

.cta-btn {
    color: white;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 30px;
    border: 2px solid white;
    transition: all 0.5s ease;

}

.cta-btn:hover {
    background-color: #3bdb8e;
}
#team{
    margin-top: 100px !important;
}
#team hr{
    width: 70px;
}
.team-shadow {
    position: absolute;
    font-size: 45px;
    font-weight: 700;
    opacity: 0.15;
    margin-top: -33px;
    margin-left: -150px;
}

.team-para {
    font-size: 15px;
    font-style: italic;
}

.team-icons {
    font-size: 17px;
}

.img-absolute {
    padding: 0;
    width: 90%;
    position: absolute;
    bottom: -68px;
    left: 17px;
    box-shadow: 0px 0px 6px 0px rgb(179, 179, 179);
}

#contact {
    padding-top: 100px;
}

.contact-shadow{
    position: absolute;
    font-size: 45px;
    font-weight: 700;
    opacity: 0.15;
    margin-top: -38px;
    margin-left: -150px;
}
.left-icon {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    font-size: 20px;
    padding: 10px;
    background-color: #c5f1dc;
    color: var(--primary-color);
    text-align: center;
    align-items: center;


}

.left-icon-div {
    align-items: center;
    text-align: center;
}

.address-para {
    font-size: 13px;
}

.address-fs {
    font-size: 18px;
    font-weight: 700;
    padding: 0;
    margin: 0;
}

.first-child:hover {
    .left-icon {
        background-color: var(--primary-color);
        color: white;
    }
}

.message-area {
    height: 100%;
    width: 100%;
}

.right {
    width: 100%;
    padding: 30px;
}

#news-letter {
    background-color: #f1f1f1;
    padding-bottom: 0;
    margin-bottom: 0;
}

.newsletter-padding {
    margin: 50px;
    padding: 80px 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newsletter-form {
    position: relative;
    transition: 0.3s;
    border-radius: 50px;
}

.newsletter-form input[type="email"] {
    width: 100%;
    background-color: white;
    color: var(--default-color);
    border-width: 0px;
    border-radius: 50px;
    height: 44px;
}

.newsletter-form input[type="submit"] {
    font-size: 16px;
    color: white;
    border: 0px;
    padding: 10px 20px;
    background: var(--primary-color);
    transition: 0.3s;
    border-radius: 50px;
    position: absolute;
    top: 0;
    right: 0;
}
.newsletter-form input[type="submit"]:hover{
        background-color: #02773f;
}
#footer {
    padding-top: 50px;
    padding-bottom: 5px;
}

#footer p {
    font-size: 14px !important;

}

#footer a {
    font-size: 14px;
}

.footer-links i {
    color: var(--primary-color);

}

.footer-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.footer-links-flex {
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;
}

.footer-links a:hover {
    color: var(--primary-color);
}

.social-links div {
    padding: 5px;
    height: 40px;
    width: 40px;
    border: 1px solid rgb(173, 173, 173);
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;

}

.social-links div a i {
    font-size: 20px;

}

.social-links div:hover {
    cursor: pointer;
    border: 1px solid var(--primary-color);

    i {
        color: var(--primary-color);

    }
}

.footer-our-services {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-end {

    gap: 0;
    padding: 10px 0;

    p {
        color: black;
    }

    a {
        color: var(--primary-color);
    }


}

@keyframes up-down {
    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}